/* -----------------------
Base styles
------------------------*/
body {
    margin: 0;
    padding: 0;
    font: 19px Helvetica, sans-serif;
    color: #333;
    background: #0fc8ff;
  }

  p
  {
  	margin: 0;
  	line-height: 1.5;
  }

/* -----------------------
Layout styles
------------------------*/

.container
{
	max-width: 40em;
	margin: 0 auto;
}

.header
{
	color: #333;
  text-align: center;
	padding: 1em 1.25em;
  /*background-color: #222;*/
}

/*.nav-bar
{
	background: #000;
	padding: 0;
}*/

.content {
÷  /*background-color: #444;*/
  width: auto;
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}

#current_guess{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 100px;
}

.footer
{
	color: #333;
	padding: 1em 1.25em;
}


.button-submit {
  padding: 15px 40px;
  background: none;
  color: #333;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;

  border: solid 5px #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}
